@using ElectronicJournal.Services
@model ElectronicJournal.Models.AllModels
@{
    Layout = "_Layout1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <button type="button" class="add_date_modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавити дату
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="add_date_header modal-header">
                    <h1 class="add_date_title modal-title fs-5" id="exampleModalLabel">Добавити дату</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="add_date_body modal-content">
                    <form asp-action="AddDate" asp-controller="home" asp-route-subjectId="@ViewData["subjectId"]" asp-route-groupId="@ViewData["groupId"]">
                        <input class="date_input" autofocus placeholder="Дата" name="date" type="text" autocomplete="off" required/>
                        <div align="right">
                            <button type="submit" class="signUp_button btn">Добавити</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="grade_table" align="center">
        <tr>
            <th rowspan="2" class="student_name">ПІБ</th>
            @if(Model.DateList.Any())
            {
                <th colspan="@Model.DateList.Count()" style="text-align: center">Дата</th>
                <th rowspan="2" class="grades_column">Загалом</th>
                <th rowspan="2" class="grades_column">GPA</th>
                <th rowspan="2" class="grades_column">ECTS</th>
            }
        </tr>
        <tr>
            @foreach (var date in Model.DateList)
            {
                <th class="date">
                    @date.Date
                </th>
            }
        </tr>
        @foreach (var student in Model.UsersList)
        {
            <tr>
                <th>
                    @student.UserName
                </th>
                @if(Model.DateList.Any())
                {
                    @foreach (var item in Model.GradesList.Where(g => g.UserId == student.Id))
                    {
                        <th>
                            <input class="inputs" type="text" onchange="editGrade(@item.Id, this.value)" value="@item.grade" autocomplete="off" />
                        </th>
                    }
                    <th>@(student.GradeList.Any() ? student.GradeList.Average(g => g.grade).ToString("F2") : "0")</th>
                    <th>@CalculateGrades.GetGPA(student.GradeList.Average(g => g.grade))</th>
                    <th>@CalculateGrades.GetScore(student.GradeList.Average(g => g.grade))</th>
                }
            </tr>
        }
    </table>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">
    function editGrade(GradeId, Grade) {
        $.ajax({
            url: "/home/EditGrade",
            method: "POST",
            dataType: "json",
            data: { gradeId: GradeId, grade: Grade },
            success: function (data) {
                location.reload();
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }   
</script>