@model ElectronicJournal.Models.AllModels

@{
    Layout = "_Layout1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />






</head>
<body>




    <div class="main_buttons" align="center">

        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <a class="fixed-button" asp-action="CreateSubject" asp-controller="home">
                <i class="fa-solid fa-plus"></i>
            </a>
        }

        @if (User.IsInRole("Student"))
        {
            <div class="hidden_practice_schedule">
                @foreach (var item in Model.SubjectGroupsList)
                {
                    <a class="teachers_schedule_btn" asp-action="SubjectJournal" asp-route-subjectId="@item.SubjectNameId" asp-controller="home">
                        @item.Subjects?.SubjectName
                    </a>
                }
            </div>
        }
        else if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
        {
            @foreach (var item in Model.SubjectsList)
            {
                <div>
                    <div class="teachers_schedule_btn">
                        <div>
                            <a class="subject_btn_title" asp-action="GroupList" asp-route-subjectId="@item.Id" asp-controller="home">
                                @item.SubjectName
                            </a>
                        </div>
                        <div class="delete_subject">
                            <form asp-action="DeleteSubject" asp-controller="home" asp-route-subjectId="@item.Id">
                                <button class="delete_user"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
